[package]
name = "samply"
version = "0.11.0"
authors = ["Markus Stange <mstange@themasta.com>"]
edition = "2021"
rust-version = "1.61"
license = "MIT OR Apache-2.0"
description = "A command line profiler for macOS and Linux."
repository = "https://github.com/mstange/samply/"
readme = "README.md"

[dependencies]

fxprof-processed-profile = { version = "0.5", path = "../fxprof-processed-profile" }
# framehop = { path = "../../framehop" }
framehop = "0.7.2"
# linux-perf-data = { path = "../../linux-perf-data" }
linux-perf-data = "0.8.0"

tokio = { version = "1.17.0", features = ["rt", "rt-multi-thread", "macros"] }
hyper = { version = "0.14.18", features = ["full"] }
clap = { version = "4", features = ["derive"] }
byteorder = "1.4.3"
debugid = "0.8.0"
memchr = "2.4.1"
memmap2 = "0.5.3"
serde_json = "1.0.53"
thiserror = "1.0.19"
tempfile = "3.4.0"
uuid = "1.0.0"
percent-encoding = "2.1.0"
libc = "0.2.71"
flate2 = "1.0"
webbrowser = "0.8.2"
rand = "0.8.4"
nix-base32 = "0.1.1"
serde_derive = "1.0.137"
serde = "1.0.137"
symsrv = "0.2.0"
wholesym = { version = "0.3.0", path = "../wholesym" }
dirs = "4.0.0"

[target.'cfg(any(target_os = "macos", target_os = "linux"))'.dependencies]

libc = "0.2.71"
crossbeam-channel = "0.5.4"
signal-hook = "0.3.9"

[target.'cfg(target_os = "macos")'.dependencies]

mach = "0.3.2"
lazy_static = "1.4.0"
flate2 = "1.0.23"

[target.'cfg(target_os = "linux")'.dependencies]

parking_lot = "0.12.1"
num_cpus = "1.13.1"
uname = "0.1.1"
nix = "0.26.2"

[dependencies.object]
default-features = false
features = ["std", "read_core", "elf", "unaligned", "write"]
version = "0.30.2"
