name: "Nix Packaging"

on:
  push:
    branches:
      - main
  pull_request:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    name: "Build Samply using nix flake"
    runs-on: ubuntu-22.04
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v30
        with:
          nix_path: nixpkgs=channel:nixos-23.11
      # - uses: cachix/cachix-action@v10
      #   with:
      #     name: samply
      #     authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'

      - name: Build samply with nix
        run: nix build -L .#