name: Rust

on: [push, pull_request]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v3

    - name: Build
      run: cargo build --workspace --verbose
    - name: Test
      run: cargo test --workspace --verbose
    - name: Check formatting
      run: cargo fmt -- --check --verbose
    - name: Clippy
      run: cargo clippy --workspace --verbose -- -Dwarnings
