name: Rust

on:
  push:
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: windows-2019

    steps:
    - uses: actions/checkout@v2
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose --lib
    - name: Run xperf
      run: xperf -on latency -stackwalk profile
    - name: Stop xperf
      run: xperf -d out.etl
    - run: cargo run --example event-types out.etl
    - run: cargo run out.etl xperf
